// Custom

// Basic Colors
$grey-darkest:  #1B1B1B;
$grey-darker:   #333333;
$grey-dark:     #505050;
$grey:          #888888;
$grey-light:    #C3C3C3;
$grey-lighter:  #E1E1E1;
$grey-lightest: #FCFCFC;

// Branding
$brand-color-primary:   blue;
$brand-color-secondary: green;
