// Base
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*:focus,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  font-size: $root-font-size;
  height: 100%;
  width: 100%;
}

// Lists
ul,
ol {
  margin: 0;
  padding: 0;
}

// Buttons
button {
  cursor: pointer;
}