// Base
html {
  box-sizing: border-box;
}

*,
*:focus,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  font-size: $root-font-size;
}

// buttons
button {
  cursor: pointer;
}