// Containers
.bc-section {
  border-bottom: 1px solid $grey-lighter;
  padding-bottom: 30px;
  padding-top: 30px;
}

.bc-container {
  padding-left: $container-gutter;
  padding-right: $container-gutter;
}