// Header
.bc-header {
  background-color: $header-bg-color;
  border-bottom: 1px solid $header-border-color;
  min-height: $header-height;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// Logo
.bc-logo {
  color: $logo-color;
  display: inline-block;
  float: left;
  font-size: 22px;
  font-weight: 600;
  line-height: $header-height;
  padding-bottom: $logo-padding-y;
  padding-left: $logo-padding-x;
  padding-right: $logo-padding-x;
  padding-top: $logo-padding-y;
  transition: color 0.5s ease;
  &:hover {
    color: $logo-color-hover;
  }
  a {
    color: $logo-color;
    display: inline-block;
    line-height: $header-height;
    text-decoration: none;
    transition: color 0.5s ease;
    &:hover {
      color: $logo-color-hover;
    }
  }
}

// Header Friends
.bc-header {
  // Center
  &.bc-center {
    text-align: center;
    .bc-logo  {
      display: block;
      float: none;
    }
    .bc-nav {
      float: none;
      width: 100%;
      ul {
        float: none;
        li {
          float: none;
        }
      }
    }
  }

  // Sidebar
  &.bc-sidebar {
    border-right: 1px solid $header-border-color;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: $header-width;

    & ~ .bc-nav,
    & ~ .bc-body,
    & ~ .bc-footer {
      padding-left: $header-width;
    }

    .bc-nav {
      ul {
        width: 100%;
        li {
          width: 100%;
        }
      }
    }
  }
}